ScrollPane { -fx-background-color: gray;
             -fx-background: gray;
           }

TilePane { -fx-background-color: gray; }

StackPane { -fx-min-height: 288px;
            -fx-max-height: 288px;
            -fx-min-width: 288px;
            -fx-max-width: 288px;
            -fx-border-color: white;
            -fx-border-width: 4;
          }

Button#AddForComparison { }

Button#GraphTile { -fx-background-color: white;
                   -fx-background-radius: 0;
                   -fx-background-insets: 0;
                   -fx-border-width: 0;
                   -fx-padding: 0;
                 }
