ScrollPane { -fx-background-color: white;
             -fx-background: white;
             -fx-border-width: 0
           }

TilePane { -fx-background-color: white; }

StackPane#StackPane { -fx-min-height: 605px;
                      -fx-max-height: 605px;
                      -fx-min-width: 605px;
                      -fx-max-width: 605px;
                      -fx-border-width: 0;
                    }

Label#GraphLabel { -fx-padding: 5;
                   -fx-background-color: white;
                   -fx-border-width: 0
                 }

ImageView { -fx-border-width: 0; }

VBox { -fx-background-color: white;
       -fx-border-color: black;
       -fx-border-width: 1;
     }

TextFlow  { -fx-background-color: white;
            -fx-font-family: monospace;
          }


.iconQuit > .label { -fx-graphic: url("../icons/iconQuit.png"); }
.iconQuit > .accelerator-text { -fx-graphic: none; }

.iconImportFile > .label { -fx-graphic: url("../icons/iconImportFile.png"); }
.iconImportFile > .accelerator-text { -fx-graphic: none; }

.iconImportDirectory > .label { -fx-graphic: url("../icons/iconImportDirectory.png"); }
.iconImportDirectory > .accelerator-text { -fx-graphic: none; }

.iconShowContent > .label { -fx-graphic: url("../icons/iconShowContent.png"); }
.iconShowContent > .accelerator-text { -fx-graphic: none; }

.iconDeleteContent > .label { -fx-graphic: url("../icons/iconDeleteContent.png"); }
.iconDeleteContent > .accelerator-text { -fx-graphic: none; }

.iconAddGraphs > .label { -fx-graphic: url("../icons/iconAddGraphs.png"); }
.iconAddGraphs > .accelerator-text { -fx-graphic: none; }

.iconRemoveGraphs > .label { -fx-graphic: url("../icons/iconRemoveGraphs.png"); }
.iconRemoveGraphs > .accelerator-text { -fx-graphic: none; }

.iconCompare > .label { -fx-graphic: url("../icons/iconCompare.png"); }
.iconCompare > .accelerator-text { -fx-graphic: none; }

.iconAbout > .label { -fx-graphic: url("../icons/iconAbout.png"); }
.iconAbout > .accelerator-text { -fx-graphic: none; }
